<table class="table rankings">
  <thead>
    <tr>
      <th></th>
      <th>Player</th>
      <th>EPR</th>
      <%= if is_nil(@group) do %>
        <th>OEPR</th>
      <% end %>
        <th>GP</th>
      <%= if is_nil(@group) do %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= for {rank, player, epr, oepr, gp} <- ranked_data(@players, @group) do %>
      <tr class="stripe-<%= rem(rank, 2) %>">
        <td><%= rank %></td>
        <td data-value="<%= player.id %>"><%= link display_player(player), to: player_path(@conn, :show, player) %></td>
        <td data-value="<%= epr %>"><%= format_epr(epr) %></td>
        <%= if is_nil(@group) do %>
          <td data-value="<%= oepr %>"><%= format_epr(oepr) %></td>
        <% end %>
        <td data-value="<%= gp %>"><%= gp %></td>
        <%= if is_nil(@group) do %>
          <td class="text-right">
            <%= link "Edit", to: player_path(@conn, :edit, player), class: "btn btn-default btn-xs" %>
            <%= link "Delete", to: player_path(@conn, :delete, player), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
