<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pickleball league management and statistics">
    <meta name="author" content="Taylor O'Brien">

    <title>Sunset Pickleball</title>
    <link rel="stylesheet" href=<%= static_path(@conn, "/css/app.css") %>>
    <link rel="icon" type="image/png" href=<%= static_path(@conn, "/images/logo.png") %>>
  </head>

  <body class="scoreboard-body">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
