<h2>Edit group</h2>

<%= render "form.html", changeset: @changeset,
                        players: @players,
                        action: group_path(@conn, :update, @group) %>

<%= link "Back", to: group_path(@conn, :index) %>
