<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= multiple_select f, :player_ids, player_select_options(@players), class: "chosen-select form-control", "data-placeholder": "Group Members" %>
  </div>

  <div class="form-group">
    <%= label f, :generate_games, class: "control-label" %>
    <%= checkbox f, :generate_games, checked: true %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
