<%= form_for @conn, group_path(@conn, :generate_groups), [as: :generate], fn f -> %>
  <div class="form-group">
    <%= label f, :all_players, class: "control-label" %>
    <%= checkbox f, :all_players, checked: true %>
  </div>

  <div class="form-group">
    <%= multiple_select f, :player_ids, player_select_options(@players), class: "chosen-select", "data-placeholder": "Group Members" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
