<h2>Group Rankings</h2>

<div class="row">
  <%= for group <- @groups do %>
    <div class="col-xs-12 col-md-<%= min(4, div(12, length(@groups))) %>">
      <h4 class="group-name">Group <%= group.name %></h4>
      <%= render( SunsetPickleball.PlayerView,
                  "rankings.html",
                  players: group.players,
                  conn: @conn,
                  group: group) %>
    </div>
  <% end %>
</div>

<ul class="list-inline">
  <li><%= link "Auto-generate", to: group_path(@conn, :generate), class: "btn btn-primary", role: "button" %></li>
  <li><%= link "New group", to: group_path(@conn, :new), class: "btn btn-info", role: "button" %></li>
</ul>
