<input id="gameId" type="hidden" value="<%= @game.id %>" />
<div id="scoreboardContainer"></div>

<%= link "Home", to: page_path(@conn, :index), class: "btn" %>
<%= link "Games", to: game_path(@conn, :index), class: "btn" %>
