<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= multiple_select f, :home_team, player_select_options(@players), class: "chosen-select form-control", "data-placeholder": "Home Team" %>
    <%= multiple_select f, :away_team, player_select_options(@players), class: "chosen-select form-control", "data-placeholder": "Away Team" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
