<h2>Show game</h2>

<ul>

  <li>
    <strong>Group:</strong>
    <%= @game.group_id %>
  </li>

</ul>

<%= link "Edit", to: game_path(@conn, :edit, @game) %>
<%= link "Back", to: game_path(@conn, :index) %>
