<table class="table">
  <thead>
    <tr>
      <th>Group</th>
      <th>Teams</th>
      <th>Score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for {index, game, group_name, teams, scores} <- game_data(@games) do %>
    <tr data-value="<%= game.id %>" class="stripe-<%= rem(index, 2) %>">
      <td><%= group_name %></td>
      <td><%=display_teams(teams)%></td>
      <td><%=display_scores(scores)%></td>

      <td class="text-right">
        <%= link "Scoreboard", to: game_path(@conn, :edit, game), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: game_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
