/* This file is for your main application css. */
.text-logo {
    width: 128px;
    height: 128px;
    display: inline-block;
    background-image: url("/images/logo-text.png");
    background-size: 128px 128px;
    margin-top: 4px;
    margin-left: 4px;
}

.header {
    background-color: #EEE;
}

/* SCOREBOARD CSS */
.score {
    border: none;
    background-color: black;
    color: yellow;
    font-size: 128px;
    font-size: 33vw;
    min-width: 128px;
    width: 100%;
    padding: 0;
    line-height: 1;
    margin-top: 4px;
}

.score:hover:enabled {
    text-shadow: 2px 2px white;
}

.score:active {
    text-shadow: -2px -2px darkgrey;
}

.score:disabled {
    border: 8px dotted;
    color: red;
}

.scoreboard-side {
    display: inline-block;
}

.game-ended {
    color: greenyellow !important; /* gross */
}

.scoreboard-body {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: 'ozoneregular';
}

.players {
    font-size: 32px;
    font-size: 3vh;
    line-height: 1;
}

.scoreboard-btn {
    background-color: black;
    border: solid 2px white;
    color: white;
    margin: 4px;
    font-size: 4vh;
    margin-top: 16px;
}

.scoreboard-btn:hover:enabled {
    box-shadow: 2px 2px white;
}

.scoreboard-btn:active {
    box-shadow: -2px -2px white;
}

.scoreboard-btn:disabled {
    color: grey;
    border-color: grey;
}

button {
    outline: none;
}

/* END SCOREBOARD CSS */


/* RANKINGS TABLE CSS */
.stripe-1 {
    background-color: #EEE;
}
/* END RANKINGS TABLE CSS */

h2 {
    font-family: "harlow_solid_italicitalic";
    text-shadow: -2px 0 #EEE, 0 2px #EEE, 2px 0 #EEE, 0 -2px #EEE;
}

h4 {
    font-family: "delicious_heavyregular";
}

/* JUMBOTRON CSS */
.sunset {
    font-family: "harlow_solid_italicitalic";
    font-size: 3em;
    padding-right: 8px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.pickleball {
    font-family: "delicious_heavyregular";
}

/* END JUMBOTRON CSS */
