<h2>Show score</h2>

<ul>

  <li>
    <strong>Points:</strong>
    <%= @score.points %>
  </li>

  <li>
    <strong>Serve:</strong>
    <%= @score.serve %>
  </li>

  <li>
    <strong>Game:</strong>
    <%= @score.game_id %>
  </li>

  <li>
    <strong>Team:</strong>
    <%= @score.team_id %>
  </li>

</ul>

<%= link "Edit", to: score_path(@conn, :edit, @score) %>
<%= link "Back", to: score_path(@conn, :index) %>
