<div class="row">
  <h2>Standings</h2>
  <%= for group <- @groups do %>
    <div class="col-xs-12 col-md-<%= min(4, div(12, length(@groups))) %>">
      <h4 class="group-name">Group <%= group.name %></h4>
      <%= render( SunsetPickleball.PlayerView,
                  "rankings.html",
                  players: group.players,
                  conn: @conn,
                  group: group) %>
    </div>
  <% end %>
</div>

<div class="row">
  <h2>Upcoming Games</h2>
  <%= render( SunsetPickleball.GameView,
              "table.html",
              conn: @conn,
              games: @games) %>
</div>
